{% block navBar %}
	<ul class="list-unstyled d-flex justify-content-end">
		<li class="p-2 fw-medium fs-5 text-dark">Documentation</li>
		<li class="p-2 fw-medium fs-5 text-dark">Contact</li>
	</ul>
{% endblock %}
